*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

h2{
    font-size: 35px;
    color: black;
    padding: 20px;
    margin-top: 5%;
}
/* landing page section start*/
#landing{
    height: 100vh;
    background-image:url(./images/donation13.jpg);
    background-size: cover;   
    background-position: top center;
    position: relative; 
    z-index: 1;
}

#landing::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

h1{
    text-transform: capitalize;
    font-size: 60px;
    margin-top: 10%;
    margin-bottom: 15px;
    
}

.item-contain h1{   
    width: 55%;
    margin-left: 20%;
}

.button{
    margin-top:90px ;
    text-transform: uppercase;
    background-color: #b74747;
    border: none;
    text-align: center;
    cursor: pointer;
    color: white;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;;
    border-radius: 5px;
    font-size: 20px;
}

p{
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.item-contain{
    text-align: center;
    min-height: 100%;
    width: 100%;  
}

/* landing page section end */

/* donate page section start */
.para-details{
    padding:0 20%;
    align-items: center;
    text-align: center;
}
#donate-amount{
    height: 80vh;
    color: black;
}

ul{
    display: flex;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: space-around;
    width: 100%;
    }
li{
    font-size: 20px;
    padding: 30px 30px;
    background: #bababa;
    list-style: none;
    }
.inp {
    border:none;
    border-bottom: 2px solid #edeeee;
    padding: 5px 10px;
    outline: none;
    font-size: 20px;
    width: 30%;
    text-align: center;
 }

/* donate page section  style end */

/* donate plan page section  style start */

#donate-plan{
    height: 70vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row {
    margin: 0 -5px;
    margin-left: 3%;
    display: inline;
    height: 50px;
}

.column {
  float: left;
  width: 15%;
  padding: 0 50px;
  height: 100%;
  border: 1px solid rebeccapurple;
 
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px;
  text-align: center;
  background-color: #f1f1f1;
  width: 20%;
  height: 30%;
}
/* donate plan page section style  end */

.plan-details{
    margin-bottom: 40px;
}

/* how to donate page style  start*/

#donate-how{
    height: 60vh;
}

.section-4-half{
    height: 100%;
    width: 100%;
}
.button3{
    font-size: 12px   ; 
    margin-left: 14px;  
}
.section-4-item{
    width: 60%;
    padding: 10%;
  margin-left: 20%;
}

.section-4-item p{
   text-align: left;
   margin-left: 20px;
   margin-bottom: 25px;
   margin-top: 20px;
   color: rgb(28, 28, 28);
}
.sec-4-title{
   text-align: left;
 }

.section-4-half img{
    max-width: 100%;
    max-height: 100%;
}

.donation-img{
  height: 80%;
  width: 55%;
  padding: 40px;
}
/* survive page style section 5 start */

#survive-how{
    height: 60vh;
}
.survive-img{
    height: 80%;
    width: 55%;
    padding: 40px;
    margin-left:28%;   
}

.section-5-item p{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
    color: rgb(28, 28, 28);
 }

 .section-5-item{
    width: 60%;
    padding: 10%;
    margin-right: 30%;
}
/* how to donate page style end*/

#update{
    height: 50vh;
}

.half-elemnts{
    text-align: center;
}

.sec-6{
    color: rgb(11, 11, 11);
    padding: 5%;
    background-color: #b74747;
}

.subscribe{
    height: auto;
    background-color: #2185C5;
    position: relative;
    padding:0;
}
.form{
    background-color: #75d0c4;
    width: 640px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 20%;
}

.update-section h2 ,p{
    float: top;
    margin: 0;
    padding: 0;
}

.update-section p {
    margin-top: 10px;
}

input .inp{
    border:none;
    border-bottom: 2px solid #edeeee;
    padding: 15px;
    outline: none;
    font-size: 20px;
    width: 30%;
    text-align: center;
}

footer{
    background-color: rgb(0, 0, 0);
    height: 20vh;
    
}

.footer-title{
    color: white;
    font-family: 'Parisienne', cursive;
    font-family: 'The Nautigal', cursive;
    font-style: italic;
        text-align: center;
}

/* Subscribe or update page */