* {
	margin: 0;
	padding: 0;
   
}

body {
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
	color: whitesmoke;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

h2 {
	font-size: 35px;
	color: black;
	padding: 20px;
	margin-top: 5%;
}
/* landing page section start*/
#landing {
	height: 100vh;
	background-image: url(./images/donation13.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#landing::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

h1 {
	text-transform: capitalize;
	font-size: 60px;
	margin-top: 10%;
	margin-bottom: 15px;
}

.item-contain h1 {
	width: 55%;
	margin-left: 20%;
}

.button {
	margin-top: 90px;
	text-transform: uppercase;
	background-color: #b74747;
	border: none;
	text-align: center;
	cursor: pointer;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-top: 30px;
	;
    border-radius: 5px;
	font-size: 20px;
}

p {
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
     line-height: 1rem;
    letter-spacing: 1px;
}

.item-contain {
	text-align: center;
	height: 100%;
	width: 100%;
	align-items: center;
}

.para-details p{
line-height:2rem ;
color:#ededed ;
}


/* donate page section start */
#donate-amount {
	height: 80vh;
	color: black;
	background-color: #ededed;
}

.para-details {
	padding: 0 20%;
	align-items: center;
	text-align: center;
}


ul {
	display: flex;
	gap: 10px;
	margin-top: 50px;
	margin-bottom: 30px;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

li {
	font-size: 20px;
	padding: 30px 30px;
	background: #bababa;
	list-style: none;
}

input[type="text"], textarea {
	background-color: #ededed;
}

.inp {
	border: none;
	border-bottom: 2px solid #e56a28;
	padding: 5px 10px;
	outline: none;
	font-size: 20px;
	width: 30%;
	text-align: center;
}

/* donate plan page section  style start */

#donate-plan {
	height: 80vh;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.outer-card-plan {
	max-width: 800px;
	height: 500px;
}

.outer-card-plan span {
	width: 50px;
	height: 50px;
}

.plan-details {
	padding: 0 20%;
	align-items: center;
	text-align: center;
	height: 100%;
}

.donate-amount-card {
	background-color: #b74747;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 40px;
	text-align: center;
	width: 50%;
	height: 50%;
}

.plan1 {
	background-color: #72e3c3;
}

.plan2 {
	background-color: #bd5c5c;
}

.plan3 {
	background-color: #539ad3;
}

/* how to donate page style  start*/
#donate-how {
	height: 80vh;
	background-color: #ededed;
}

.donate-how-elements {
	margin: 0;
	padding: 0;
	margin-right: 20%;
	position: absolute;
}

.donate-how-card {
	width: 100%;
	height: 90%;
}

.section-4-half {
	height: 100%;
	width: 100%;
}

.button3 {
	font-size: 12px;
	margin-left: 14px;
}

.section-4-item {
	width: 60%;
	padding: 10%;
	margin-left: 20%;
}

.section-4-item p {
	text-align: left;
	margin-left: 20px;
	margin-bottom: 25px;
	margin-top: 20px;
	color: rgb(28, 28, 28);
}

.sec-4-title {
	text-align: left;
}

.section-4-half img {
	max-width: 100%;
	max-height: 100%;
}

.donation-img {
	height: 80%;
	width: 55%;
	padding: 40px;
}
/* survive page style section 5 start */

#survive-how {
	height: 80vh;
}

.survive-img {
	height: 80%;
	width: 55%;
	padding: 40px;
	margin-left: 28%;
}

.section-5-item p {
	text-align: left;
	margin-left: 20px;
	margin-bottom: 25px;
	margin-top: 20px;
	color: rgb(28, 28, 28);
}

.section-5-item {
	width: 60%;
	padding: 10%;
	margin-right: 30%;
}

/* story or news section style*/
#story-container {
	height: 80vh;
	background-color: #ededed;
}

.row{
 display: flex;
}

.col{
    padding: 1rem;
    flex: 1;
}

.col {
    border-right: 2px solid #c4c4c4;
}

h3{
    margin: 10px 0;
    color: black;
}


img{
    max-width: 100%;
}

#story-container{
    line-height: 1rem;
    letter-spacing: 1px;
}

.story{
    height: 3px;
}

.story p{
    color: rgb(41, 40, 40);
    text-align: justify;
}

.read-more{
    padding: 5px 5px;
    margin-top: 5px;
	text-transform: uppercase;
	background-color: #100d0d;
	border: none;
	text-align: center;
	cursor: pointer;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
}
/* how to donate page style end*/

#update {
	height: 60vh;
}

#update p{
	color: #100d0d;

}

.half-elemnts {
	text-align: center;
}

.sec-6 {
	color: rgb(11, 11, 11);
	padding: 5%;
}

.subscribe {
	height: auto;
	position: relative;
	padding: 0;
}


.form {
	background-color: #959595;
	width: 740px;
    height: 200px;
	margin: 0 auto;
	padding: 20px;
	position: relative;
	text-align: center;
	margin-bottom: 20%;
}

.update-section h2 ,p {
	float: top;
	margin: 0;
	padding: 0;
}

.update-section p {
	margin-top: 10px;
}
.form input{
    height: 42px;
    border: none;
    width: 30%;
    text-align: center;
}

form{
padding: 10%;
margin-left: 2%;
}

.button-subcribe{
     padding: 12px 10px;
    margin-top: 5px;
	text-transform: uppercase;
	background-color: #c46a6a;
	border: none;
	text-align: center;
	cursor: pointer;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
}


/* Footer */

footer {
	background-color: rgb(0, 0, 0);
	height: 20vh;
}

.footer-title {
	color: white;
	font-family: 'Parisienne', cursive;
	font-family: 'The Nautigal', cursive;
	font-style: italic;
	text-align: center;
}

/* Subscribe or update page */